// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-brand img {
  max-height: 55px;
}

.navbar {
  max-height: 15vh;
}

.card-header, .btn-primary{
  background-color: #009B3F;
  color: #fff;
  margin: 10px;
}

.card-header{
  font-weight: bold;
  font-size: larger;
}

.btn-primary:hover{
  background-color: rgb(0, 99, 40) !important;
}

.btn-primary:disabled, .btn-primary:disabled:hover{
  background-color: rgb(39, 104, 39);
}

.btn-success:active:focus{
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
  background-color: rgb(0, 99, 40) !important;
}

.card, .form-control, .custom-select, .btn-primary:disabled{
  border-color: #009B3F;
}

.form-control:focus, .custom-select:focus, .btn-primary:active{
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 60, 0.25) !important;
}

option:hover{
  background-color: #009B3F;
}

.card{
  .btn-link{
    color: #009B3F;
  }

  .btn-link:focus{
    box-shadow: none;
  }

  a:hover, a:visited{
    color: rgb(0, 99, 40) !important;
  }
}

#personal-data{
  font-size: large;
}

.creator{
  form{
    label{
      font-weight: bold;
      font-size: medium;
      span{
        color: red;
      }
    }
  }
}

#delete{
  max-width: 100px;
}

.users-selected{
  color: black;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

.search-input {
  margin-bottom: 10px;
  margin-left: 5px;
}

.scroll-wrapper {
  overflow: auto;
  max-height: 30vh;
}
